<h3 class="first">Update a book</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="title" [(ngModel)]="book.title">       
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="author" [(ngModel)]="book.author">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="number" pInputText placeholder="release" [(ngModel)]="book.release">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="publishingHouse" [(ngModel)]="book.publishingHouse">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="category" [(ngModel)]="book.category">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="description" [(ngModel)]="book.description">         
        </div>
    </div>

    <div>
        <button pButton (click)="update(book.id)" label="UPDATE"></button>
    </div>
